<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Удаленные кошельки</h1>

<table>
    <tr>
        <th>Номер кошелька</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Номер паспорта</th>
        <th>Рубли</th>
        <th>Доллары</th>
        <th>Евро</th>
        <th>Статус кошелька</th>
    </tr>

    <tr th:each="walletEntity : ${wallets}">
        <td th:text="${walletEntity.id}"></td>
        <td th:text="${walletEntity.lastName}"></td>
        <td th:text="${walletEntity.firstName}"></td>
        <td th:text="${walletEntity.middleName}"></td>
        <td th:text="${walletEntity.passportId}"></td>
        <td th:text="${walletEntity.rub}"></td>
        <td th:text="${walletEntity.usd}"></td>
        <td th:text="${walletEntity.eur}"></td>
        <td th:text="${walletEntity.walletStatus}"></td>
    </tr>
</table>
<p><a class="btn" th:href="@{/index}">Вернуться на главную страницу</a></p>
</body>
</html>