<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Обновление кошелька</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Обновление кошелька</h1>
<form method="post" th:action="@{/update}" th:object="${walletDTO}">
    <label>Фамилия: <br><input th:field="*{lastName}" type="text">
        <span class="field-error" th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}"></span>
    </label><br>

    <label>Имя: <br><input th:field="*{firstName}" type="text">
        <span class="field-error" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}"></span>
    </label><br>

    <label>Отчество: <br><input th:field="*{middleName}" type="text">
        <span class="field-error" th:errors="*{middleName}" th:if="${#fields.hasErrors('middleName')}"></span>
    </label><br>

    <label>Номер паспорта: <br><input th:field="*{passportId}" type="number">
        <span class="field-error" th:errors="*{passportId}" th:if="${#fields.hasErrors('passportId')}"></span>
    </label><br>

    <label>Рубли: <br><input th:field="*{rub}" type="number">
        <span class="field-error" th:errors="*{rub}" th:if="${#fields.hasErrors('rub')}"></span>
    </label><br>

    <label>Доллары: <br><input th:field="*{usd}" type="number">
        <span class="field-error" th:errors="*{usd}" th:if="${#fields.hasErrors('usd')}"></span>
    </label><br>

    <label>Евро: <br><input th:field="*{eur}" type="number">
        <span class="field-error" th:errors="*{eur}" th:if="${#fields.hasErrors('eur')}"></span>
    </label><br>

    <label>Айди кошелька: <br><input th:field="*{id}" type="number">
        <span class="field-error" th:errors="*{id}" th:if="${#fields.hasErrors('id')}"></span>
    </label><br>
    <br>
    <button type="submit">Сохранить</button>
    <a th:href="@{/index}">
        <button type="button">Вернуться на главную</button>
    </a>
</form>
</body>
</html>