<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create employee</title>
    <meta charset="UTF-8">
</head>
<body>

<h1>Create employee</h1>

<form method="post" th:action="@{/employees}" th:object="${employee}">

    <label>Full name:</label>
    <input required th:field="*{fullName}" type="text">

    <br><br>

    <label>Username:</label>
    <input required th:field="*{username}" type="text">

    <br><br>

    <label>Password:</label>
    <input required th:field="*{password}" type="password">

    <br><br>

    <label>Role:</label>
    <select th:field="*{role}">
        <option th:each="role : ${roles}"
                th:text="${role}"
                th:value="${role}">
        </option>
    </select>

    <br><br>

    <button type="submit">Create</button>

</form>

<br>

<a th:href="@{/employees}">Back</a>

</body>
</html>